body {
    background-color: rgb(188, 198, 255);
}
h1 {
    color: rgb(0, 24, 133);
}

h2 {
    color: rgb(0, 24, 133);
    font-size: 15px
}

p {
    color: rgb(0, 24, 133);
}

#joke {
    color: rgb(136, 0, 0);
    font-family: 'Comic Sans MS';
    font-weight: 'bold';
}

#nickname {
    padding-top: -5px;
    padding-bottom: -5px;

    color: rgb(0, 24, 133);
    font-family: 'Comic Sans MS';
    font-size: 20px;
    font-weight: 'bold';
}

#quote {
    color: rgb(0, 24, 133);
    font-family: 'Times';
    font-style: 'italic';
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

 